@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

#_next {
  width: 100%;
}

.title {
  font-family: "Pacifico", cursive;
}
